{% extends 'base.html' %}

{% block content  %}

    <div class="container">
        <div class="row">
            <section class="col-md-4 offset-md-4 mt-5">
                <form method='POST' class="card card-body">
                    <h1>sign In...</h1>
                    {{ error }}
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username">Username</label><br>
                        <input type="text" class="form-contol" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <label for="password">Password</label><br>
                        <input type="password" class="form-contol" name="password" id="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary">Sign In</button>
                </form>
            </section>
        </div>
    </div>

{% endblock  %}