{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3"></div>
    <h1>Tasks</h1>

    <ul class="list-group">
      {% for task in tasks %}
      <a href="{% url 'taskdetail' task.id %}" class="list-group-item">
        <header class="d-flex justify-content-between">
          {% if task.important %}
          <strong> {{ task.title }} </strong>
          {% else %} {{ task.title }} {% endif %}
          <p>-{{ task.description }}</p>
        </header>

        <p>{{ task.user.username }}</p>
        <p>{{ task.datecompleted|date:'M j Y:i' }}</p>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
